body {
  background: #3f1d2b url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGl0ZXJhdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  width: 680px;
  max-width: 90%;
  padding: 50px;
  background-color: rgba(255, 255 ,255, 0.95);
  font-size: 15px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1,
h2{
  color: #b4411e;
}

h1{
  font-size: 38px;
  line-height: 1.2em;
}

h2{
  font-size: 32px;
  line-height: 1em;
}

.poem-name{
  font-style: italic;
  color: black;
  font-weight: 300;
}

.redactor-name{
  font-weight: bold;
  margin-top: 40px;
  font-size: x-small;
  text-align: end;
}